<!DOCTYPE html>
<html lang="en">
<head>
  <title>KARCHE Drive - Votre facture</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css" >
  <script src="bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid text-center">    
  <div class="row content bg-primary">
    <div class="col-sm-2 sidenav" ></div>
    <div class="col-sm-8 text-left"> 
      <p>Bonjour <strong>${name}</strong>,</p>
      <p>
      	A la suite de votre réservation faite sur notre application <strong>KARCHE Drive</strong>, 
      	nous avons le plaisir de vous transmettre la facture ci-jointe. Le paiement peut être fait  
      	par Mobile Money aux numéros de téléphone xxx/xxx ou par CASH en vous déplaçant dans nos locaux.
      </p>
      <hr>
      <h3 class="h5 text-primary">L'équipe  <span class="badge badge-secondary" >KARCHE Drive</span></h3>
      <p>+237 698037324</p>
    </div>
    <div class="col-sm-2 sidenav bg-primary" ></div>
  </div>
</div>


</body>
</html>
